@(title: String,description: String,keywords: String,myForm: Form[models.garaDB.tables.pojos.Driver])

@memberArea(title,description,keywords) {

    <div class="container">
        <br />
        <h1>Become a Driver</h1>
        <hr />
        @if(myForm.hasErrors) {

            @if(myForm.errors.size() > 0) {
                <div class="alert alert-danger">
                    <strong>errors:</strong>
                    @for((key, value) <- myForm.errors) {
                        <p>
                        @for(err <- value) {
                            @err.message().toString()
                        }
                        </p>
                    }
                </div>

            }
        }
        <form action="/member/becomeDriver" method="post">
            <div class="form-group">
                <input type="text" name="licensenumber" placeholder="licenseNumber" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="licensepic" placeholder="licensePic" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="identycardpic" placeholder="identyCardPic" class="form-control">
            </div>

            <div class="form-group">
                <input type="submit" value="Go!" class="btn btn-primary btn-block bg-marina">
            </div>
        </form>
    </div>

}
