@(title: String,description: String,keywords: String,isDriver: Boolean)

@memberArea(title,description,keywords) {
    <section id="content-3-22" class="content-block-nopad content-3-22">
        @if(isDriver){
            <div class="overlay overlay-green">
                <div class="container text-center" data-animation-1 data-animation-trigger-1="load" data-animation-type-1="pulse">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h1> </h1>
                        <h2>
                            <br>
                            <br>
                            <br>
                            <br>
                        </h2>

                        <a href="@routes.Application.addCarGet()" class="btn btn-block btn-outline btn-outline-lg outline-light">add your car</a>
                    </div>
                </div>
                    <!-- /.container -->
            </div>
        }else{
            <div class="overlay overlay-green">
                <div class="container text-center" data-animation-1 data-animation-trigger-1="load" data-animation-type-1="pulse">
                    <h1 class="pad90" data-animation-1 data-animation-trigger-1="hover" data-animation-type-1="flash">Want to make some money</h1>
                    <h2>Become a driver</h2>
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <a href="@routes.Application.BecomeDriverGet()" class="btn btn-block btn-outline btn-outline-lg outline-light">Strart Here</a>
                    </div>
                </div>
                    <!-- /.container -->
            </div>
        }
    </section>

    <section id="content-3-8" class="content-block content-3-7">
        <div class="container">
            <div class="col-sm-12" data-animation-1 data-animation-trigger-1="hover" data-animation-type-1="pulse">
                <div class="underlined-title">
                    <h1>Choose your distention </h1>
                    <hr>
                </div>
            </div>
        </div>
    </section>

    <div class="map min-height-500px" id="mapholder" ></div>


    <script>
            var map,lat,lng,distLng,distLat;
            var markersArray = [];

            getLocation();


            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                }
            }

            function showPosition(position) {
                lat = position.coords.latitude;
                lng = position.coords.longitude;
                latlon = new google.maps.LatLng(lat, lng)
                mapholder = document.getElementById('mapholder')
                mapholder.style.height = '250px';

                var myOptions = {
                    center:latlon,zoom:14
                }

                 map = new google.maps.Map(document.getElementById("mapholder"), myOptions);
                var marker = new google.maps.Marker({position:latlon,map:map,title:"You are here!",icon:"http://maps.google.com/mapfiles/ms/icons/green-dot.png"});

                google.maps.event.addListener(map, "click", function(event)
                {
                    // place a marker
                    placeMarker(event.latLng);

                    // display the lat/lng in your form's lat/lng fields
                    document.getElementById("latFld").value = event.latLng.lat();
                    document.getElementById("lngFld").value = event.latLng.lng();
                });

            }

            function placeMarker(location) {
                // first remove all markers if there are any
                deleteOverlays();
                distLat = location.lat();
                distLng = location.lng();

                var marker = new google.maps.Marker({
                    position: location,
                    map: map
                });

                // add marker in markers array
                markersArray.push(marker);

                //map.setCenter(location);
            }
            function deleteOverlays() {
                if (markersArray) {
                    for (i in markersArray) {
                        markersArray[i].setMap(null);
                    }
                    markersArray.length = 0;
                }
            }
        function dispatch() {
            window.location = "@routes.Application.dispatchGet()"+"?srcLat=" + lat + "&srclng=" + lng +"&distLat=" + distLat + "&distLng=" + distLng;
        }
    </script>





    <section id="content-3-7" class="content-block content-3-7">
        <div class="container">
            <div class="col-sm-12">
                <div class="underlined-title">
                    <hr>
                    <button type="button" class="btn white bg-marina bg-transparent-hover black-hover btn-block" data-animation-1 data-animation-trigger-1="click" data-animation-type-1="shake" onclick="dispatch()">Get your Ride!</button>
                </div>
            </div>
        </div>
    </section>



}
